.auth-container {
    background-image: url('./assets/images/FoodBackground.jpg');
    background-size: cover;
    background-position: center center;
}

.bg-overlay {
    background: linear-gradient(45deg, rgba(47, 140, 96, .5), rgba(0, 0, 0, 0.9));
}


:root {
    --main-color: #4AA35A;
}

.text-main {
    color: var(--main-color);
}

.background-main {
    background-color: var(--main-color);
}

.btn:hover {
    background-color: var(--main-color) !important;
}