.auth-container {
    background-image: url('./assets/images/FoodBackground.jpg');
    background-size: cover;
    background-position: center center;
}

.bg-overlay {
    background: linear-gradient(45deg, rgba(47, 140, 96, .5), rgba(0, 0, 0, 0.9));
}


:root {
    --main-color: #4AA35A;
}

.text-main {
    color: var(--main-color);
}

.background-main {
    background-color: var(--main-color);
}

.btn:hover {
    background-color: var(--main-color) !important;
}

.eye-position{
    position: absolute;
           right : 12px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #6c757d;
}
.sidebar-toggle{
width: 80%;
min-width: 90px;
    height: auto;
    cursor: pointer;}

   



           .sideBar-Container .ps-sidebar-container{
                border-top-right-radius: 58px;
                background-color: #1F263E;
                min-height: 100vh;
       }
       .sideBar-Container .ps-menu-button:hover{
            background-color: rgba(0, 146, 77, 0.1) !important;
            border-left:4px solid var(--main-color);
       }
header{
    background-color: var(--main-color);
    border-radius: 12px;
}
.sideBar-Container .ps-sidebar-root{
    border: none;
}
.caption span{
    color: var(--main-color);
    
}
.TableimgStyle {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}
